.header {
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2901960784);
}
.header__container {
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
}
.header__logo button {
  padding-right: 1.5rem;
  border: 0;
  background-color: transparent;
}
.header__logo-letter {
  padding: 0.5rem 1rem;
  font-size: 20px;
  box-shadow: 0px 14px 24px 0px rgba(139, 139, 139, 0.2509803922);
  font-weight: bold;
  text-decoration: none;
  color: #222222;
}
.header__icons img {
  padding-left: 1rem;
}
.header .nav_invisible {
  display: none;
}
.header .nav_visible {
  display: block;
}
.header .nav_visible ul {
  position: relative;
  background-color: white;
  padding: 0rem 2rem 1rem;
}
.header .nav_visible ul li {
  padding-top: 1rem;
  list-style: none;
}
.header .nav_visible ul li a {
  text-decoration: none;
  font-family: "Archivo";
  font-weight: 600;
  font-size: 16px;
  color: #111111;
}

.cover {
  background-color: #333333;
  color: white;
  position: relative;
  padding: 3rem 2rem;
  font-family: "Archivo";
  font-weight: 700;
}
.cover h1 {
  font-family: "Old Standard TT";
  font-weight: 400;
  font-size: 56px;
}
.cover__card {
  background-color: white;
  padding: 1rem;
  position: absolute;
  bottom: 0;
  right: 2rem;
  color: #333333;
  font-size: 16px;
}
.cover__card span {
  color: #BEAD8E;
}

.cover > p:first-of-type {
  font-family: "Archivo";
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 2.8px;
  margin-bottom: 0.5rem;
}

.footer__logo {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  font-family: "Archivo";
  font-weight: 700;
}
.footer__logo-letter {
  font-size: 40px !important;
  color: white;
  padding: 1rem 1.5rem;
  background-color: #BEAD8E;
  font-size: 20px;
  box-shadow: 0px 14px 24px 0px rgba(139, 139, 139, 0.1490196078);
}
.footer__logo-name {
  color: #111111;
  font-size: 26px;
  letter-spacing: 2.6px;
}
.footer__logo-name span {
  font-weight: 400;
}
.footer__text p {
  margin: 3rem 0;
  font-size: 16px;
  font-family: "Archivo";
  font-weight: 400;
  color: #777777;
  line-height: 26px;
}
.footer__social {
  margin-bottom: 2rem;
}
.footer__social img {
  padding-right: 1.5rem;
}
.footer__services h5 {
  font-family: "Old Standard TT";
  font-weight: 400;
  font-size: 24px;
  color: #222222;
  margin-bottom: 1.5rem;
}
.footer__services--list {
  display: flex;
  justify-content: space-around;
}
.footer__services--list ul li {
  font-family: "Roboto";
  font-weight: 400;
  list-style: none;
  font-size: 16px;
  line-height: 48px;
  color: #777777;
}
.footer__contact {
  margin-top: 3rem;
}
.footer__contact h5 {
  font-family: "Old Standard TT";
  font-weight: 400;
  font-size: 24px;
  color: #222222;
  margin-bottom: 1.5rem;
}
.footer__contact--info {
  margin-bottom: 4rem;
  display: flex;
  gap: 1rem;
  color: #222222;
  font-family: "Old Standard TT";
  font-weight: 400;
  font-size: 20px;
}
.footer__contact--info p:last-of-type {
  color: #777777;
  font-family: "Roboto";
  font-size: 14px;
}
.footer__copy {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  letter-spacing: -0.48px;
  color: #222222;
  line-height: 100%;
  background-color: #F8F8F8;
  padding: 2rem;
}
.footer__copy p:first-of-type {
  margin-bottom: 2rem;
}

.footer > div {
  padding: 0 1.5rem;
}

.footer > div:last-of-type {
  padding: 1.5rem;
}

.about {
  margin-bottom: 4rem;
}
.about__video {
  width: 90%;
  height: 15rem;
  background-color: #DADADA;
  margin: 0 auto;
  margin: 3rem auto;
}
.about P {
  font-family: "Old Standard TT";
  font-weight: 400;
  font-size: 32px;
  letter-spacing: -1.16px;
  text-align: center;
  padding: 0 1rem;
}

.services {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1.5rem;
  width: 90%;
  margin: 0 auto 3rem;
  place-items: center;
}
.services div {
  text-align: center;
  transition: background-color 0.3s ease, filter 0.3s ease;
  padding: 3rem 0.5rem;
  width: 100%;
}
.services div:hover {
  background-color: #BEAD8E;
}
.services div:hover p {
  color: white;
}
.services div:hover img {
  filter: brightness(0) invert(1);
}
.services div p {
  font-family: "Archivo";
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  color: #222222;
}

.restaurant {
  box-shadow: 0px 14px 24px 0px rgba(184, 184, 184, 0.1019607843);
  width: 90%;
  margin: 0 auto;
  padding: 0 1rem;
  margin-bottom: 5rem;
}
.restaurant__img {
  height: 15rem;
  background-color: #E5E5E5;
  margin: 0 auto 2rem;
}
.restaurant p {
  font-family: "Archivo";
  font-weight: 700;
  font-size: 14px;
  color: #777777;
  margin-bottom: 1.5rem;
  line-height: 24px;
}
.restaurant h3 {
  font-family: "Old Standard TT";
  font-weight: 400;
  font-size: 40px;
  letter-spacing: -1.05px;
  margin-bottom: 2rem;
  color: #222222;
}
.restaurant button {
  padding: 1.3rem 3rem;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 3.2px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  background-color: #BEAD8E;
  border: 0;
  box-shadow: 0px 14px 24px 0px rgba(190, 173, 142, 0.3607843137);
}

.features {
  background-color: rgb(34, 34, 34);
  color: white;
  padding: 3rem 1rem;
  margin-bottom: 4rem;
}
.features__title {
  text-align: center;
}
.features__title p {
  margin-bottom: 1rem;
  font-family: "Archivo";
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 2.8px;
}
.features__title p:last-of-type {
  font-family: "Old Standard TT";
  font-weight: 400;
  font-size: 56px;
  letter-spacing: -1.2px;
}
.features__slide {
  font-weight: 400;
  color: rgb(255, 255, 255);
  position: relative;
  background-color: white;
}
.features__slide--opacity {
  padding: 5rem 1rem;
  background-color: rgba(41, 41, 41, 0.9);
  position: relative;
  z-index: 99;
}
.features__slide p:first-of-type {
  font-family: "Old Standard TT";
  font-size: 30px;
  margin-top: 1.5rem;
}
.features__slide--lorem {
  font-family: "Archivo";
  font-size: 14px;
  line-height: 24px;
  margin-top: 1.5rem;
  padding-right: 2rem;
}
.features__slide p:last-of-type {
  font-family: "Archivo";
  font-weight: 700;
  font-size: 120px;
  color: #222222;
  position: absolute;
  top: 0rem;
  right: 1rem;
}

.facts {
  margin-bottom: 4rem;
  padding: 0 1rem;
}
.facts__counter {
  font-family: "Archivo";
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 2.8px;
  color: #777777;
}
.facts h2 {
  font-family: "Old Standard TT";
  font-weight: 400;
  font-size: 56px;
  line-height: 60px;
  letter-spacing: -1.2px;
  color: #222222;
  margin: 2rem 0 4rem;
}
.facts__things {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4rem;
}
.facts__things p {
  font-family: "Old Standard TT";
  font-weight: 400;
  font-size: 60px;
  letter-spacing: -1.8px;
  color: #222222;
}
.facts__things p:last-of-type {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0px;
  color: #777777;
}
.facts__img {
  height: 15rem;
  background-color: #E5E5E5;
  margin: 0 auto 2rem;
}
.facts .swiper-pagination-bullet-active {
  background-color: #BEAD8E;
}

html, * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
}

/*# sourceMappingURL=about.css.map */
