.infoContact {
  padding-left: 2rem;
  margin-top: 3rem;
}
.infoContact__contact {
  margin-bottom: 6rem;
  display: flex;
  align-items: start;
  gap: 1rem;
  color: #777777;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
}
.infoContact__contact p:first-of-type {
  font-size: 20px;
  color: #222222;
  font-family: "Old Standard TT";
}

.hotelImg {
  width: 90%;
  height: 15rem;
  background-color: #E5E5E5;
  margin: 0 auto;
  margin-bottom: 3rem;
}

.form {
  margin-bottom: 6rem;
}
.form__contact {
  position: relative;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 2rem;
}
.form__contact input, .form__contact textarea {
  width: 100%;
  background-color: #F8F8F8;
  border: 0;
  padding: 1rem 0 1rem 4rem;
}
.form__contact input::placeholder, .form__contact textarea::placeholder {
  font-family: "Roboto" !important;
  font-weight: 400;
  font-size: 16px;
  color: #777777;
}
.form__contact img {
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
}
.form__contact--message {
  height: 16rem;
  padding-top: 1rem;
  text-align: start;
}
.form__contact--pen {
  top: 1.6rem !important;
}
.form__submit {
  text-align: center;
  width: 100%;
}
.form__submit button {
  padding: 1.3rem 3rem;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 3.2px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  background-color: #BEAD8E;
  border: 0;
}

.header {
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2901960784);
}
.header__container {
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
}
.header__logo button {
  padding-right: 1.5rem;
  border: 0;
  background-color: transparent;
}
.header__logo-letter {
  padding: 0.5rem 1rem;
  font-size: 20px;
  box-shadow: 0px 14px 24px 0px rgba(139, 139, 139, 0.2509803922);
  font-weight: bold;
  text-decoration: none;
  color: #222222;
}
.header__icons img {
  padding-left: 1rem;
}
.header .nav_invisible {
  display: none;
}
.header .nav_visible {
  display: block;
}
.header .nav_visible ul {
  position: relative;
  background-color: white;
  padding: 0rem 2rem 1rem;
}
.header .nav_visible ul li {
  padding-top: 1rem;
  list-style: none;
}
.header .nav_visible ul li a {
  text-decoration: none;
  font-family: "Archivo";
  font-weight: 600;
  font-size: 16px;
  color: #111111;
}

.cover {
  background-color: #333333;
  color: white;
  position: relative;
  padding: 3rem 2rem;
  font-family: "Archivo";
  font-weight: 700;
}
.cover h1 {
  font-family: "Old Standard TT";
  font-weight: 400;
  font-size: 56px;
}
.cover__card {
  background-color: white;
  padding: 1rem;
  position: absolute;
  bottom: 0;
  right: 2rem;
  color: #333333;
  font-size: 16px;
}
.cover__card span {
  color: #BEAD8E;
}

.cover > p:first-of-type {
  font-family: "Archivo";
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 2.8px;
  margin-bottom: 0.5rem;
}

.footer__logo {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  font-family: "Archivo";
  font-weight: 700;
}
.footer__logo-letter {
  font-size: 40px !important;
  color: white;
  padding: 1rem 1.5rem;
  background-color: #BEAD8E;
  font-size: 20px;
  box-shadow: 0px 14px 24px 0px rgba(139, 139, 139, 0.1490196078);
}
.footer__logo-name {
  color: #111111;
  font-size: 26px;
  letter-spacing: 2.6px;
}
.footer__logo-name span {
  font-weight: 400;
}
.footer__text p {
  margin: 3rem 0;
  font-size: 16px;
  font-family: "Archivo";
  font-weight: 400;
  color: #777777;
  line-height: 26px;
}
.footer__social {
  margin-bottom: 2rem;
}
.footer__social img {
  padding-right: 1.5rem;
}
.footer__services h5 {
  font-family: "Old Standard TT";
  font-weight: 400;
  font-size: 24px;
  color: #222222;
  margin-bottom: 1.5rem;
}
.footer__services--list {
  display: flex;
  justify-content: space-around;
}
.footer__services--list ul li {
  font-family: "Roboto";
  font-weight: 400;
  list-style: none;
  font-size: 16px;
  line-height: 48px;
  color: #777777;
}
.footer__contact {
  margin-top: 3rem;
}
.footer__contact h5 {
  font-family: "Old Standard TT";
  font-weight: 400;
  font-size: 24px;
  color: #222222;
  margin-bottom: 1.5rem;
}
.footer__contact--info {
  margin-bottom: 4rem;
  display: flex;
  gap: 1rem;
  color: #222222;
  font-family: "Old Standard TT";
  font-weight: 400;
  font-size: 20px;
}
.footer__contact--info p:last-of-type {
  color: #777777;
  font-family: "Roboto";
  font-size: 14px;
}
.footer__copy {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  letter-spacing: -0.48px;
  color: #222222;
  line-height: 100%;
  background-color: #F8F8F8;
  padding: 2rem;
}
.footer__copy p:first-of-type {
  margin-bottom: 2rem;
}

.footer > div {
  padding: 0 1.5rem;
}

.footer > div:last-of-type {
  padding: 1.5rem;
}

html, * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
}

/*# sourceMappingURL=contact.css.map */
